.nav-link { position: relative; padding-bottom: 4px; }

.nav-link::after {
    content: "";
    position: absolute; bottom: 0; left: 0; width: 0; height: 3px;
    background: linear-gradient(90deg, #632196, #965BC2);
    transition: width 0.3s ease; border-radius: 3px;
}
.nav-link:hover::after, .nav-link.active::after { width: 100%; }

.login-container.right-panel-active .sign-in-container { transform: translateX(100%); }
.login-container.right-panel-active .sign-up-container {
    transform: translateX(100%); opacity: 1; z-index: 5; animation: showForm 0.6s;
}
.login-container.right-panel-active .overlay-container { transform: translateX(-100%); }
.login-container.right-panel-active .overlay { transform: translateX(50%); }
.login-container.right-panel-active .overlay-left { transform: translateX(0); }
.login-container.right-panel-active .overlay-right { transform: translateX(20%); }

@keyframes showForm {
    0%, 49.99% { opacity: 0; z-index: 1; }
    50%, 100% { opacity: 1; z-index: 5; }
}

.burger.active span:nth-child(1) { transform: rotate(45deg) translate(5px, 5px); }
.burger.active span:nth-child(2) { opacity: 0; }
.burger.active span:nth-child(3) { transform: rotate(-45deg) translate(5px, -5px); }