# Fichiers système (Mac/Windows) qui polluent
.DS_Store
Thumbs.db

# Dossiers éditeur de code (VS Code, etc.)
.vscode/
.idea/

# Fichiers de configuration contenant des mots de passe (TRÈS IMPORTANT)
config.php
.env

# Si plus tard vous utilisez npm pour Bootstrap par exemple
node_modules/